template.yml
template.yaml
template.testing.*
template.staging.*
template.production.*
packaged.template.*
node_modules
package-lock.json
migrate.json
migrate.testing.json
migrate.staging.json
migrate.production.json